<div id="assign-agent-route" class="col-sm">
    <form class="form-control">
        <legend>Asignar Via a Agente</legend>
        <div class="mb-3">
            <label for="id-agent-assign" class="form-label">Codigo de Agente: </label>
            <input type="text" id="id-agente-assign" class="form-control" placeholder="Ej: 1234567891">
        </div>
        <div class="mb-3">
            <label for="route-assign" class="form-label">Via: </label>
            <input type="text" id="route-assign" class="form-control" placeholder="Ej: Calle 100">
        </div>
        <button type="submit" class="btn btn-warning">Asignar</button>
    </form>
</div>